language: php
php:
  - 7.3

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install --no-interaction --no-suggest

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml
  - vendor/bin/phpcs

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $HOME/.composer/cache
